*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding-top: 5px;
    padding-bottom: 5px;
}
.logo img {
    width: 150px;
    margin-right: 10px;
}
.search-bar input{
    width: 300px;
    height: 30px;
    margin-right: 10px;
}
.search-bar button{
    width: 50px;
    height: 30px;
    margin-right: 10px;
}
/* /Header */
/* Main */
main {
    width: 90%;
    margin: auto;
}
.films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.poster {
    width: 300px;
    height: 530px;
    background-size: cover;
    position: absolute;
}
.poster:hover{
    opacity: 0.2;
}
.series {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
.card {
    display: flex;
    width: 300px;
    height: 530px;
    margin: 5px;
    background-color: lightgray;
}
